/* Toolbar.css */
.menu li:hover {
    background-color: #dcdcdc; /* Slightly darker gray color on hover */
    cursor: pointer;
  }
  
  .menu .active {
    background-color: black; 
    color: white;
    padding-left: 5px;
    padding-right: 5px;
  }
  