label {
    display: block;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.modal-buttons {
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.delete-confirm {
    background-color: #dc3545;
}

.delete-cancel {
    background-color: #6c757d;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    background-color: #ccc;
    border-radius: 20px;
    padding: 3px;
    margin-right: 10px;
}

.switch-on {
    border: 2px solid green;
}

.switch-off {
    border: 2px solid red;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: 0.4s;
}

.switch input:checked+.slider {
    left: 30px;
    border: 2px solid transparent;
}