.menu li:hover {
  font-weight: bold;
  /* Slightly darker gray color on hover */
  cursor: pointer;
  border-radius: 10px;

}

.menu .active {
  background-color: black;
  /* Slightly darker gray color for the active tab */
  border-radius: 10px;
}