/* Page.css */
.flex {
  display: flex;
}

.background-container {
  position: relative;
  overflow: hidden;
  width: 50vw;
  /* Set the initial width for larger screens */
  height: 100vh;
}

.responsive-image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    /* Stack elements vertically on smaller screens */
  }

  .background-container {
    display: none;
    /* Hide the image on smaller screens */
  }
}